{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'navbar.js' %}"></script>  
{% load sass_tags %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% sass_src 'styles.scss' %}">
    <title>Student Notes</title>
</head>
<body>
    {% bootstrap_messages %}
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="{% url 'home' %}">Student-Notes</a>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notes' %}">Moje notatki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'create_notes' %}">Stwórz notatkę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'group_list' %}">Grupy</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signout' %}">Wyloguj się</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Rejestracja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signin' %}">Logowanie</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
      
      
    
      
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% bootstrap_javascript %}
</body>
</html>
