<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
      path="*" 
      verb="*" 
      modules="FastCgiModule" 
      scriptProcessor="c:\Python37\python.exe|c:\Python37\Lib\site-packages\wfastcgi.py" 
      resourceType="Unspecified" 
      requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\Student-Notes" />
    <add key="WSGI_HANDLER" value="studnot.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="studnot.settings" />
  </appSettings>
</configuration>